driver = pgsql
connect = __DOVECOT_SQL_CONNECT__
default_pass_scheme = SHA512-CRYPT
password_query = SELECT email AS user, password_hash AS password FROM users WHERE email='%u' AND active=true
user_query = SELECT home, maildir, __VMAIL_UID__ AS uid, __VMAIL_GID__ AS gid FROM users WHERE email='%u' AND active=true
