AuthservID __MAIL_HOSTNAME__
Socket inet:8893@127.0.0.1
PidFile /run/opendmarc/opendmarc.pid
Syslog true
TrustedAuthservIDs __MAIL_HOSTNAME__
RejectFailures false
SPFSelfValidate true
UserID opendmarc:opendmarc
