<?php

$config['db_dsnw'] = 'sqlite:////var/lib/roundcube/roundcube.sqlite';
$config['imap_host'] = 'ssl://__MAIL_HOSTNAME__:993';
$config['smtp_host'] = 'tls://__MAIL_HOSTNAME__:587';
$config['smtp_user'] = '%u';
$config['smtp_pass'] = '%p';
$config['support_url'] = '';
$config['product_name'] = '';
$config['display_product_info'] = 0;
$config['des_key'] = '__ROUNDCUBE_DES_KEY__';
set_include_path(__DIR__ . '/../vendor/pear/http_request2' . PATH_SEPARATOR . get_include_path());
$config['plugins'] = [__ROUNDCUBE_PLUGINS__];
$config['skin'] = '__ROUNDCUBE_SKIN__';
$config['skins_allowed'] = [__ROUNDCUBE_SKINS_ALLOWED__];
$config['skin_logo'] = '__ROUNDCUBE_SKIN_LOGO__';
$config['enable_installer'] = false;
$config['default_host'] = 'ssl://__MAIL_HOSTNAME__:993';
$config['default_port'] = 993;
$config['managesieve_host'] = 'localhost';
$config['managesieve_port'] = 4190;
