# Copy this file to mail.env and edit values before installing.

MAIL_HOSTNAME="mail.example.com"
PRIMARY_DOMAIN="example.com"
ADMIN_EMAIL="admin@example.com"
WEBMAIL_HOSTNAME="mail.example.com"
DAV_HOSTNAME="dav.example.com"

SERVER_PUBLIC_IPV4="203.0.113.10"
SERVER_PUBLIC_IPV6=""
TIMEZONE="UTC"

VMAIL_UID="5000"
VMAIL_GID="5000"
VMAIL_ROOT="/var/vmail"

MAIL_DB_PATH="/etc/mailserver/mail.sqlite"
ROUNDCUBE_VERSION="1.7.1"
ROUNDCUBE_URL="https://github.com/roundcube/roundcubemail/releases/download/1.7.1/roundcubemail-1.7.1-complete.tar.gz"
ROUNDCUBE_SHA256="1e0382bcefd627ab0b6285d3181ddfba5b444fdcf6d49f33f5ea15fbf97864ef"
LETSENCRYPT_STAGING="false"
ENABLE_UFW="true"
ENABLE_FAIL2BAN="true"
ENABLE_RSPAMD="true"
ENABLE_CLAMAV="false"

POSTMASTER_ADDRESS="postmaster@example.com"
ABUSE_ADDRESS="abuse@example.com"
DKIM_SELECTOR="default"
